* {
    margin: 0;
    padding: 0;
  }

.header {
    display: flex;
    flex: 1;
    color: white;
    padding: 16px;
    justify-content: space-around;
    background: #1F2937;
    margin-top: 0;
}

.headerlogo {
font-size: 24px;
color: #f9faf8;
}

ul {
    flex: 1;
    gap: 16px;;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
.blockdarkblue {
    background: #1F2937;
}

.first-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    margin-top: 60px;
    padding-bottom: 60px;
}

.first-container img{
    height: 200px;
    width: 400px;
}


.maincontent {
 flex-direction: column;
 max-width: 300px;
}

.maintext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    font-family: Roboto;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.btn {
    margin-top: 12px;
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px 20px;
    border-radius: 10px;
}

.second-container {
    margin-top: 100px;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
}

.text-container .text {
color: #1F2937;
}


.second-container img{
    max-width: 200px;
    max-height: 1000px;
}

.maincontent2 {
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.smallcontainers {
    display: flex;
    flex: 1;
    justify-content: space-around;
    gap: 30px;
    max-width: 200px;
    font: center;
}

.smallcontainers p {
    font-size: 18px;
    color: #1F2937;

}

.third-container {
    padding: 100px 400px;
    background: #e5e7eb;
    margin-top: 100px;
}

.quote-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    flex-shrink: 2;
    font-style:  italic;
}

.third-container .endquote {
display: flex;
justify-content: flex-end;
align-items: flex-end;
font-weight: 800;
}

.fourth-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.bluebox {
    display: flex;
    flex: 1;
    max-width: 900px;
    padding: 50px 140px;
    justify-content: space-around;
    background: #3882f6;
}

.texty {
    display: flex;
    flex: 1;
    flex-direction: 1;
    flex-direction: column;
}

.headertext {
font-size: 24px;
color: #f9faf8;
}

.blueboxsubtext {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    padding: 0px 30px;
    
}

.footer {
    display: flex;
    flex: 1;
    color: white;
    padding: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: #1F2937;
}